@import 'src/resources/colors';

.directory {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.directory__category {
  color: $lighterFontColor;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02rem;
}

.directory__product-name {
  color: $darkBlueFontColor;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02rem;
}
