@import 'resources/colors';

.base-cta-button {
  display: flex;
  max-width: 60rem;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 6px;
  background: $darkerFontColor;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02rem;
  cursor: pointer;
}
